// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-column-responsive-gutter: (
  small: 16px,
  medium: 20px,
);
// Colors
$brand-primary:         #27ae60;

$topbar-background:#494B4A;
$topbar-title-spacing: 4rem;
$dropdownmenu-border: none;
$dropdownmenu-arrow-color: #D5D4D6;
$darkGray:#494B4A;
$lightGray:#D5D4D6;
$red:#BB020B;
$brown:#98795E;
